.flex{
    display: flex;
}
.maxWidth{
    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.text-heading{
    color: #153D5F;
    text-align: center;
}
.text-body{
    color: #143D5E;
    font-size: 20px;
    text-align: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.footer-text{
    color: white;
    font-family: 'Inter' ,sans-serif;
}
