
.logo{
    height: 40px;
    
}
.subscribebtn{
    margin:1rem 0 0 2rem ;
    background: #153D5F;
    border-radius: 40px;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 150px;
    font-size: large;
    padding: 10px;
}
 @media screen and (min-width:375px ) and (max-width: 414px) {
    .logo{
        height: 20px;
        padding:1rem 0rem 0 0rem ;
    }
    .subscribebtn{
     margin: 1rem 0rem 0 1rem;
    background: #153D5F;
    border-radius: 40px;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 75px;
    font-size: 10px;
    padding: 5px;
    }
}
 @media screen and (min-width:414px ) and (max-width: 578px) {
    .logo{
        height: 23px;
        padding: 1rem 1rem 0 0rem;
    }
    .subscribebtn{
    margin: 1rem 0rem 0 1rem;
    background: #153D5F;
    border-radius: 40px;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 90px;
    font-size: 10px;
    padding: 5px;
    }
}
 @media screen and (min-width:578px ) and (max-width: 768px) {
    .logo{
        height: 35px;
        padding: 1rem 1rem 0 0rem;
    }
    .subscribebtn{
        margin: 1rem 0rem 0 1rem;
        background: #153D5F;
        border-radius: 40px;
        color: white;
        font-family: 'Inter', sans-serif;
        width: 106px;
        font-size: 15px;
        padding: 5px;
    }
}