.content2{
    padding-top: 5vh;
}

.bitsquare{
    height: auto;
    padding: 10px;
    max-width: 11%;

    padding:10px;
}
.bitsquare-text{
    align-items: center;
    padding: 10px;
    padding: 2vh 0;
}
.image{
    padding-top: 2vh;
}
.image2{
    
    width: 100%;
}