.content3{
    padding-top: 3vh;
    background: #F1FFFB;
}
.image3{
    padding: 5vh 0;
}
.bitsqrs-customers{
display: grid;
grid-template-columns: auto auto;
column-gap: 12%;
}
.content4{
    padding: 10vh 0;
}
.text-bitsqr{
    color: #143D5E;
    font-size: 15px;
    padding: 0 10px;
}
.text-user{
    color: #143D5E;
    font-size: 15px;
    padding: 7px 10px;
}
    
.bitsqrs{
    display: inline;
}
.customers{
    
    display: inline;
}
.mobile{
    padding-right: 5vw;
}
.steps{
    max-width: 80%;
    width: 100%;
}
.mobile-photo{
    padding-bottom: 2vh;
    width: 100%;
}

@media screen and (min-width:375px ) and (max-width: 414px){

    .text-bitsqr {
        color: #143D5E;
        font-size: 10px;
        padding: 0 10px;
    }
    .text-user {
        color: #143D5E;
        font-size: 10px;
        padding: 7px 10px;
    }
    .font-icons{
        font-size: 1rem !important;
    }
    .bitsqrs-customers {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 12%;
    
    }
    .steps-title{
        padding-bottom: 2vh;
    }
}