.content1{
    padding-top: 2rem;
    
}
.text-head{
    width: 100%;
    position: absolute;
}
   
.text-heading{
    color: #153D5F;
    text-align: center;
}
.text-body{
    color: #143D5E;
    font-size: 20px;
    text-align: center;
}
.central-text{
    padding-top: 3vh;
}
.address-book{
    color: #153D5F;
}
.icon{
    padding-top: 1vh;
}
.image1{
    max-width: 50%;
    width: 100%;
}

@media screen and (min-width:375px ) and (max-width: 414px){

    .text-heading{
        color: #153D5F;
        text-align: center;
        font-size: 11px;
    }
    .text-body{
        color: #143D5E;
        font-size: 7px;
        text-align: center;
    }
    .fontawesome{
        font-size: 1.5rem !important;
    }
}
@media screen and (min-width:414px ) and (max-width: 578px){

    .text-heading{
        color: #153D5F;
        text-align: center;
        font-size: 12px;
    }
    .text-body{
        color: #143D5E;
        font-size: 7px;
        text-align: center;
    }
    .fontawesome{
        font-size: 1.5rem !important;
    }
}
@media screen and (min-width:578px ) and (max-width: 768px){

    .text-heading{
        color: #153D5F;
        text-align: center;
        font-size: 15px;
    }
    .text-body{
        color: #143D5E;
        font-size: 11px;
        text-align: center;
    }
    .fontawesome{
        font-size: 2rem !important;
    }
}
@media screen and (min-width:768px ) and (max-width: 1444px){

    .text-heading{
        color: #153D5F;
        text-align: center;
        font-size: 20px;
    }
    .text-body{
        color: #143D5E;
        font-size: 13px;
        text-align: center;
    }
    .fontawesome{
        font-size: 2rem !important;
    }
}