
.becomeBit{
    padding: 4vh 0;
    background: #153D5F;
    border-radius: 16px;
    width: 100%;
}
.subscribebtn2{
    
    background: #153D5F;
    border-radius: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 8rem;
    font-size: large;
    padding: 10px ;
}
.email{
    font-size: 20px;
    font-family:'Inter', sans-serif;
    background: transparent;
    border: none;
    color: black;
    align-items: center;
    outline: none;
    width: 100%;
}
    
.content5{
    padding-bottom: 5vh;
}
.c5-heading1{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
    
.c5-heading2{
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-bottom: 15px;
}
.input-field{
    background: white;
    
    width: 20rem;
    border-radius: 30px;
    padding: 6px 10px;
}
.footer{
    background: linear-gradient(#266074,#57CBB3);
    margin-top: 5vh;
}
    
@media screen and (min-width:375px ) and (max-width: 414px){
    .subscribebtn2{

        background: #153D5F;
        border-radius: 30px;
        color: white;
        font-family: 'Inter', sans-serif;
        width: 3rem;
        font-size: 7px;
        padding: 5px;
    }
    .email {
        font-size: 11px;
        font-family: 'Inter', sans-serif;
        background: transparent;
        border: none;
        color: black;
        align-items: center;
        outline: none;
        width: 100%;
        
    }
    .input-field {
        background: white;
        width: 45%;
        border-radius: 30px;
        padding: 6px 10px;
    }
    .c5-heading1 {
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
    .c5-heading2 {
        color: white;
        text-align: center;
        font-family: 'Inter', sans-serif;
        padding-bottom: 15px;
        font-size: 11px;
    }
    .footer-text {
        color: white;
        font-family: 'Inter' ,sans-serif;
        font-size: 9px;
    }
    .content4{
        flex-direction: column;
    }
    
    
}  
@media screen and (min-width:414px ) and (max-width: 578px){
    .subscribebtn2{

        background: #153D5F;
        border-radius: 30px;
        color: white;
        font-family: 'Inter', sans-serif;
        width: 3rem;
        font-size: 7px;
        padding: 5px;
    }
    .email {
        font-size: 11px;
        font-family: 'Inter', sans-serif;
        background: transparent;
        border: none;
        color: black;
        align-items: center;
        outline: none;
        width: 100%;
        
    }
    .input-field {
        background: white;
        width: 45%;
        border-radius: 30px;
        padding: 6px 10px;
    }
    .c5-heading1 {
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
    .c5-heading2 {
        color: white;
        text-align: center;
        font-family: 'Inter', sans-serif;
        padding-bottom: 15px;
        font-size: 11px;
    }
    .footer-text {
        color: white;
        font-family: 'Inter' ,sans-serif;
        font-size: 9px;
    }
    .content4{
        flex-direction: column;
    }
    .text-bitsqr {
        color: #143D5E;
        font-size: 5px;
        padding: 0 10px;
    }
    .text-user {
        color: #143D5E;
        font-size: 5px;
        padding: 7px 10px;
    }
    .font-icons{
        font-size: 1rem !important;
    }
    .bitsqrs-customers {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 12%;
        padding: 3rem 3rem 0 3rem;
    }
    .text-bitsqr {
        color: #143D5E;
        font-size: 10px;
        padding: 0 10px;
    }
    .text-user {
        color: #143D5E;
        font-size: 10px;
        padding: 7px 10px;
    }
}  
@media screen and (min-width: 578px) and (max-width: 850px){
    .subscribebtn2{

        background: #153D5F;
        border-radius: 30px;
        color: white;
        font-family: 'Inter', sans-serif;
        width: 3rem;
        font-size: 7px;
        padding: 5px;
    }
    .email {
        font-size: 11px;
        font-family: 'Inter', sans-serif;
        background: transparent;
        border: none;
        color: black;
        align-items: center;
        outline: none;
        width: 100%;
        
    }
    .input-field {
        background: white;
        width: 12rem;
        border-radius: 30px;
        padding: 6px 10px;
    }
    .c5-heading1 {
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
    .c5-heading2 {
        color: white;
        text-align: center;
        font-family: 'Inter', sans-serif;
        padding-bottom: 15px;
        font-size: 11px;
    }
    .footer-text {
        color: white;
        font-family: 'Inter' ,sans-serif;
        font-size: 9px;
    }
    .content4{
        flex-direction: column;
    }
    .text-bitsqr {
        color: #143D5E;
        font-size: 10px;
        padding: 0 10px;
    }
    .text-user {
        color: #143D5E;
        font-size: 10px;
        padding: 7px 10px;
    }
    .font-icons{
        font-size: 1rem !important;
    }
    .bitsqrs-customers {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 12%;
        padding: 3rem 3rem 0 3rem;
    }
    .text-bitsqr {
        color: #143D5E;
        font-size: 10px;
        padding: 0 10px;
    }
    .text-user {
        color: #143D5E;
        font-size: 10px;
        padding: 7px 10px;
    }
}  